<div class="container-fluid border border-3 border-dark my-2">
  <a class="row justify-content-between py-1" href="/blog/{{id}}">
    <div class="p-0 ml-1">
      <p class="m-0">{{title}}</p>
    </div>
    <div class="mr-1">
      <p class="m-0">Created on {{format_date date}}</p>
    </div>
  </a>
</div>