<div class="border col-5 p-0">
  <div class="title border-bottom pl-2 pt-2">
    <h5 class="">Commented by {{user.username}} on {{format_date date}}</h5>
  </div>
  <div class="pl-4 pt-2">
    <p class="">{{content}}</p>
  </div>
</div>