<div class="border col-5 ml-3 my-2 p-0">
  <div class="border">
    <p class="my-2 ml-1">Commented by {{user.username}} on {{format_date date}}</p>
  </div>
  <div class="ml-3">
    <p class="my-2">{{content}}</p>
  </div>
</div>