<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/2fc392b23c.js" crossorigin="anonymous"></script>
  {{!-- <link rel="stylesheet" href="./css/style.css"> --}}

</head>

<body class="m-0 p-0">
  <header class="container container-fluid p-2 mt-2 border">
    <div class="text-center">
      <h1 class="display-3">Tech Blog</h1>
    </div>
    <nav class="text-center">
      <a href="/"><i class="fas fa-home"></i> Home</a>
      <a class="mx-1" href="/dashboard"><i class="fas fa-rss"></i> Dashboard</a>
      {{#if loggedIn}}
      <button id="logout"><i class="fas fa-sign-out-alt"></i> Log Out</button>
      {{else}}
      <a href="/login"><i class="fas fa-sign-in-alt"></i> Log In</a>
      {{/if}}
    </nav>
  </header>
  <main class="container mt-5 p-0">
    {{{ body }}}
  </main>

  <footer class="container container-fluid text-center mb-2 mt-4">
    <p class="p-2 m-0">
      <!--copyright symbol-->&#169 2021 Monyok Web Development
    </p>
  </footer>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>