<div class="border border-5">
  <h2 class="border-bottom border-3 text-center my-0">Current Blogs</h2>
  <div class="col my-3">
    {{#if blogs.length}}
    {{#each blogs as |blog|}}
    {{> blog-details}}
    {{/each}}
    {{else}}
    <h3>Much Empty. <i class="far fa-sad-tear"></i></h3>
    {{/if}}
  </div>
</div>