<div>
    <h2>Create New Blog</h2>
    <form method="post" id="newBlogForm">
        <label for="newTitle">Title</label>
        <input type="text" id="newTitle" name="newTitle">

        <label for="newContent">Content</label>
        <input id="newContent" name="newContent">

        <button type="submit" id="newBlog">Create</button>
    </form>
</div>

<script src="../js/newBlog.js"></script>